<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bunqr.prepapp.fdroid">

    <!-- Permissões: use só o que precisar de fato -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Só inclua se REALMENTE precisar de geolocalização em 2º plano, com tela de justificativa -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->

    <!-- (Opcional) Bluetooth / Nearby caso use comunicação offline -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->
    <!-- <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" /> -->

    <application
        android:name="${applicationName}"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false"
        android:allowBackup="true"
        android:supportsRtl="true">
        <!-- Atividades/serviços do Flutter são injetados pelo plugin -->
    </application>
</manifest>
